<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alien.dao.UserMapper">
    <select id="login" parameterType="User" resultType="string">
        select account
        from portfolio_website.user
        where account = #{account} and password = #{password}
    </select>

    <update id="updatePassword" parameterType="User">
        update portfolio_website.user
        set password = #{password} 
        where account = #{account};
    </update>
    
    <insert id="signUp" parameterType="User">
        insert into portfolio_website.user (account, password)
        values (#{account},#{password});
    </insert>

    <select id="queryAccount" parameterType="string" resultType="string">
        select account
        from portfolio_website.user
        where account = #{account}
    </select>

    <select id="queryCartverification" parameterType="User">
        select cart_verification
        from portfolio_website.user
        where account = #{account}
    </select>

    <update id="updateCartVerification" parameterType="User">
        update portfolio_website.user
        set cart_verification = #{cartVerification}
        where account = #{account};
    </update>
</mapper>