.xCao3k.N2AB73 {
    margin-top: 7.4375rem;
}

.xCao3k {
    transition: margin-top .3s cubic-bezier(.4,0,.2,1);
    -webkit-overflow-scrolling: touch;
}

.home-page {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.375rem;
}

._4FitN7 {
    margin-top: 1.25rem;
}

.section-below-the-fold {
    min-height: 50rem;
}

.section-category-list {
    display: block;
    min-height: 302px;
}

.shopee-header-section--simple {
    padding-top: 1.25rem;
}

.shopee-header-section--simple {
    padding-top: 1.25rem;
}

.home-page .shopee-header-section__header {
    background: #fff;
    height: 3.75rem;
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding: 0 1.25rem;
}

.shopee-header-section__header {
    display: flex;
    align-items: center;
    padding-bottom: 0.625rem;
}

.shopee-header-section--simple .shopee-header-section__header__title {
    font-size: 1rem;
    color: rgba(0,0,0,.54);
    font-weight: 500;
}

section__header__title {
    font-size: 1.25rem;
    text-transform: uppercase;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 1.25rem;
}

.image-carousel {
    width: 100%;
    height: 100%;
    position: relative;
}

.image-carousel {
    width: 100%;
    height: 100%;
    position: relative;
}

.image-carousel__item-list-wrapper {
    height: 100%;
    overflow: hidden;
    touch-action: pan-y;
}

.image-carousel__item-list {
    display: flex;
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}

.home-category-list .image-carousel__item {
    overflow-x: unset!important;
}

.image-carousel__item {
    overflow-x: hidden;
    list-style: none;
    float: left;
    touch-action: pan-y;
}

.home-category-list__group {
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.image-carousel__item a, .image-carousel__item img {
    -webkit-user-drag: none;
}

.image-carousel__item a, .image-carousel__item img {
    -webkit-user-drag: none;
}

.home-category-list__category-grid {
    text-decoration: none;
    color: rgba(0,0,0,.87);
    border-right: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
    text-align: center;
    background-color: #fff;
    display: block;
    position: relative;
    transition: transform .1s cubic-bezier(.4,0,.6,1),box-shadow .1s cubic-bezier(.4,0,.6,1);
}

._1l\+Pw- {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.-rN11Y {
    height: 100%;
}

.edy5hG {
    opacity: 1;
    transition: opacity .2s ease;
}

.KNQorU {
    display: flex;
    position: relative;
    height: 3.5rem;
}

.KNQorU .gpbev8 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .01em;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-weight: 500;
    color: #fff;
    padding: 1.125rem 1.25rem;
    display: inline-block;
    background-color: #ee4d2d;
    margin: auto;
    z-index: 1;
    border-radius: 0.625rem;
    text-transform: capitalize;
}
.KNQorU .k68Wl1 {
    position: absolute;
    border-top: 1px dotted rgba(0,0,0,.26);
    width: 100%;
    left: 0;
    top: 50%;
    margin: 0;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.MQOx\+L .tIJtcv {
    padding: 2.5rem 0;
}

.col, .row {
    box-sizing: border-box;
    display: flex;
}

.row {
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -0.3125rem;
    margin-left: -0.3125rem;
}

.httLi0 {
    padding-bottom: 0.625rem;
}

.col-xs-2 {
    flex-basis: 16.666%;
    max-width: 16.666%;
}

.col-xs-1-2, .col-xs-2, .col-xs-2-4, .col-xs-3, .col-xs-4, .col-xs-6, .col-xs-8 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
}

.tWpFe2, .tWpFe2 .VTjd7p {
    height: 100%;
    box-sizing: border-box;
}

.tWpFe2 .VTjd7p {
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: block;
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
    border-radius: 0.125rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
    overflow: visible;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0;
    transition: transform .1s cubic-bezier(.4,0,.6,1),box-shadow .1s cubic-bezier(.4,0,.6,1);
}
.tWpFe2, .tWpFe2 .VTjd7p {
    height: 100%;
    box-sizing: border-box;
}

.KUUypF {
    width: 100%;
    padding-top: 100%;
}
.yvbeD6 {
    position: relative;
}

.yvbeD6 img {
    vertical-align: bottom;
}
._7DTxhh {
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
}
._6o9eaa, ._7DTxhh {
    position: absolute;
    width: 100%;
}
.vc8g9F {
    opacity: 1;
    transition: opacity .2s ease;
}
img {
    border: 0;
}

.aLgMTQ {
    position: absolute;
    left: 0;
    top: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.dpiR4u, .KMyn8J {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
.KMyn8J {
    padding: 0.5rem;
    overflow: hidden;
}

.dpiR4u, .KMyn8J {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.FDn--\+ {
    flex-grow: 1;
    min-height: 1.75rem;
}

.Cve6sh.Cve6sh {
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.ie3A\+n {
    display: inline;
    line-height: 14px;
    font-size: .75rem;
}
.bM\+7UW {
    font-size: .875rem;
    line-height: 1.25rem;
}

.hpDKMN {
    padding: 0.5rem 0 0;
    display: flex;
    height: 1.25rem;
    align-items: center;
    overflow: hidden;
}

.vioxXd {
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.rVLWG6 {
    flex-grow: 1;
    flex-shrink: 0;
    color: #ee4d2d;
}
.d5DWld, .rVLWG6 {
    max-width: 100%;
    transition: all .1s cubic-bezier(.4,0,.6,1);
}

.recFju {
    font-size: .75rem;
    color: #ee4d2d;
}
.vioxXd {
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.rVLWG6 {
    flex-grow: 1;
    flex-shrink: 0;
    color: #ee4d2d;
}
.tWpFe2 .VTjd7p {
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: block;
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
    border-radius: 0.125rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
    overflow: visible;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0;
    transition: transform .1s cubic-bezier(.4,0,.6,1),box-shadow .1s cubic-bezier(.4,0,.6,1);
}


element.style {
}
.ZEgDH9 {
    font-size: 1rem;
    color: #ee4d2d;
}
.vioxXd {
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.rVLWG6 {
    flex-grow: 1;
    flex-shrink: 0;
    color: #ee4d2d;
}

.RS7p\+X, .YlOha8, .ZnrnMl {
    display: flex;
    align-items: center;
}
.ZnrnMl {
    height: 1.25rem;
    margin-top: 0.75rem;
}

.r6HknA {
    color: rgba(0,0,0,.87);
    margin-left: 0.3125rem;
    font-size: .75rem;
    line-height: .875rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.qqV7Rl {
    width: 100%;
    margin-top: 1.25rem;
    text-align: center;
}
